<div class="sponser-label">
    <%= theme.sponsers.label %>
</div>
<a class="sponser-button button" href="<%= theme.sponsers.url %>" rel="external nofollow noreferrer"
    target="_blank"><%= theme.sponsers.use %></a>