<% if (page.apiurl && page.userid) { %>
<link rel="stylesheet" href="https://api-v1.hans362.cn/dist/bilibili-bangumi.css">
<script src="https://blog.hans362.cn/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script> var apiUrl = "<%= page.apiurl %>"; var userId = "<%= page.userid %>"; </script>
<script src="https://api-v1.hans362.cn/dist/bilibili-bangumi.js"></script>
<main class="main links">
    <div class="bgm-container">
        <div class="bgm-collection" id="bgm-collection">
            <img style="margin: 0 auto;"
                src="https://hans362-img.oss.0vv0.top/2022/06/16/62aaf86276182.gif">
        </div>
    </div>
</main>
<% } %>
