<% (post.categories || []).forEach(function(cat) { %>
    <span class="separate-dot"></span>
    <a href="<%= url_for(cat.path) %>" class="button">
        <span class="post-meta__cats"><%= cat.name %></span>  
    </a>
<% }); %>
